In [1]:
from pdtable import alumnos, cursos

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
alumnos.head()

                                            nombre     curso    horario  sala
date
2016-10-18 10:28:00  Abarca Brown, Joaquin Esteban  MT21.001  Lun 17:30     4
2016-10-18 10:28:00  Abarca Brown, Joaquin Esteban  MT22.001  Lun 19:00     4
2016-10-18 10:28:00  Abarca Brown, Joaquin Esteban  LC21.004  Vie 17:30     7
2016-10-18 10:28:00  Abarca Brown, Joaquin Esteban  LC22.004  Vie 19:00     7
2016-10-18 10:28:00  Aburto Aburto, Patricia Belen  M311.001  Vie 16:00    12

In [4]:
cursos[::70]

       horario     curso  sala
0    Jue 08:30  EL81.002     1
70   Lun 17:30  L391.001     1
140  Mie 11:30  EM83.001    12
210  Sab 13:00  TC33.002     1
280  Vie 17:30  TC32.003     5

In [5]:
import ipywidgets as wg 
from IPython.display import display

In [6]:
s = cursos.sala.value_counts().sort_index()
c = cursos.curso.value_counts().sort_index()
salas_wg  = wg.Select(options = [str(n) for n in s.index.values])
cursos_wg = wg.Select(options = [curso for curso in c.index.values])
salas_wg.height = '22em'
cursos_wg.height = '22em'
box = wg.HBox([salas_wg, cursos_wg])
display(box)

In [7]:
def select_sala(sala):
    n = int(sala)
    c = cursos[cursos.sala == n]
    c = c.curso.value_counts().sort_index()
    cursos_wg.options = [cur for cur in c.index.values]

def select_curso(curso):
    a = alumnos
    a = a[a.curso == curso]
    a = a.nombre.reset_index()['nombre']
    print(a)

i  = wg.interactive(select_sala, sala=salas_wg)
i2 = wg.interactive(select_curso, curso=cursos_wg)
box = wg.HBox([i, i2])
display(box)

0           Alegría Herrera, Claudia Maritza
1          Almonacid Diaz, Barbara Antonella
2            Altamirano Ojeda, Luis Fernando
3          Alvarez Hermosilla, Vyrón Ignacio
4                Andrade Varas, Ivan Ignacio
5                   Bello Feris, Carol Milen
6                    Brandou Campos, Gabriel
7           Carcamo Paredes, Belén Alejandra
8          Del Rio Barria, Nicolas Sebastian
9                  Flores Oyarzo, Maria Jose
10             Gajardo Loustau, Jose Ignacio
11         Gallardo Mancilla, Marcos Bastian
12        Gallegos Barrientos, Jorge Alberto
13          Gallegos Miranda, Ignacia Isabel
14           Gayoso Gannica, Alejandra Denis
15            Gonzalez Guerrero, Nadia Belen
16        Gutierrez Perez, Javiera Constanza
17            Hermosilla Morales, Saba Belen
18     Hernández Gallardo, Ignacia Alejandra
19     Hormazabal Rehbein, Javiera Constanza
20          Irribarra Ulloa, Carolina Andrea
21        Jimenez Taglioni, Dianella Nicolle
22        Kesternich Muñoz, Mauricio Estéban
23        Maldonado Llanquilef, Jairo Andrés
24            Mansilla Aguila, Felipe Andres
25        Mansilla Vargas, Cristobal Ignacio
26           Matus Oyarzun, Constanza Isabel
27               Moraga Cortés, Anyela Karen
28                   Oñate Torres, Maria Paz
29             Ortega Alarcon, Javier Adolfo
30          Oyarzo Ancacura, Valentina Belen
31           Paredes Soto, Natalia Alejandra
32          Ramirez Meneses, Esteban Gabriel
33        Rebolledo Gallardo, Daniela Andrea
34          Reyes Cardenas, Camila Alejandra
35           Rosas Jovanin, Javiera Fernanda
36          Schulz Huichaman, Camila Ignacia
37         Subiabre Soto, Valeria Del Carmen
38          Torres Barria, Manuel  Alejandro
39                 Ulloa Diaz, Pablo Enrique
40             Vargas Segovia, Ariam Isolina
41    Villarroel Calbucoy, Fabiola Estefania
42     Villarroel Oyarzun, Sebastian Ignacio
43          Weisser Rivera, Fernanda Maritsu
44                   Werner Cardenas, Yohana
45      Zambrano Morales, Melanie Jacqueline
46            Zapata Gómez, Matias Sebastián
Name: nombre, dtype: object