In [1]:
from pdtable import alumnos, cursos

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
alumnos.head()

                                            nombre     curso    horario  sala
date
2016-10-18 10:28:00  Abarca Brown, Joaquin Esteban  MT21.001  Lun 17:30     4
2016-10-18 10:28:00  Abarca Brown, Joaquin Esteban  MT22.001  Lun 19:00     4
2016-10-18 10:28:00  Abarca Brown, Joaquin Esteban  LC21.004  Vie 17:30     7
2016-10-18 10:28:00  Abarca Brown, Joaquin Esteban  LC22.004  Vie 19:00     7
2016-10-18 10:28:00  Aburto Aburto, Patricia Belen  M311.001  Vie 16:00    12

In [4]:
cursos[::70]

       horario     curso  sala
0    Jue 08:30  EL81.002     1
70   Lun 17:30  L391.001     1
140  Mie 11:30  EM83.001    12
210  Sab 13:00  TC33.002     1
280  Vie 17:30  TC32.003     5